html, body {
    height: 100%;
    font-size:18px;
}

body {
    background: linear-gradient( 135deg, red 0%, black 50%, green 100% );
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 50px;
}

.stage {
    position: absolute;
    left: 800px;
    top: 200px;
    width: 450px;
    height:fit-content;
    z-index: 10;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: all 0.3s ease;
}

label {
    display: block;
    position: relative;
    margin: 8px 35px 2px;
    font-size: 30px;
    text-align: left;
}
input[type=text], input[type=password], input[type=date] {
    display: block;
    position: relative;
    margin: 3px 35px 10px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    text-align: left;
    border: 2px solid;
    border-radius: 10px;
}
input[type=submit] {
    display: block;
    position: relative;
    margin:12px auto;
    text-align: left;
    color: black;
    height: 40px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
}

.container.top {
    top: 100px;
}

.box {
    width: 450px;
    height: 450px;
    transition: all 0.3s ease;
}

    .box.small {
        width: 450px;
        height: 420px;
    }

#LoginBox {
}
/*
#LoginText {
    display: block;
    position: relative;
    top: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

#resetTitle {
    display: block;
    position: relative;
    top: 25px;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
}
    
#EmailText {
    display: block;
    position: relative;
    margin-left: 35px;
    font-size: 30px;
    text-align: left;
}

#PasswordText {
    display: block;
    position: relative;
    margin-left: 35px;
    font-size: 30px;
    text-align: left;
}

.resetEmail {
    display: block;
    position: relative;
    margin-left: 35px;
    top: 40px;
    font-size: 30px;
    text-align: left;
}

#resetField {
    display: block;
    position: relative;
    margin-left: 35px;
    top: 50px;
    font-size: 30px;
    text-align: left;
    border: 2px solid;
    border-radius: 10px;
}
    */


#ForgotPassword {
    display: block;
    position: relative;
    margin-left: 215px;

    font-size: 15px;
    text-align: left;
}
/*
#submitButton {
    display: block;
    position: relative;
    margin-left: 140px;
    top: 120px;
    text-align: left;
    color: black;
    height: 40px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
}

#resetButton {
    display: block;
    position: relative;
    margin-left: 130px;
    top: 210px;
    text-align: left;
    color: black;
    height: 40px;
    width: 180px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
}

#noAccount {
    display: block;
    position: relative;
    margin-left: 45px;
    top: 140px;
    font-size: 20px;
    text-align: left;
}

#Registration {
    display: block;
    position: relative;
    margin-left: 235px;
    color: blue;
    top: 115.8px;
    font-size: 20px;
    text-align: left;
}
    */
#logoImage {
    position: relative;
    right: 300px;
    margin: 0;
}

#Fiscal {
    position: relative;
    right: 115px;
    top: -150px;
    font-size: 50px;
    font-weight: bold;
    margin: 0px
}

#fTracker {
    position: relative;
    top: 150px;
    right: 500px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 0px;
}
/*
.question1 {
    display: block;
    position: relative;
    margin-left: 35px;
    top: 30px;
    font-size: 25px;
    text-align: left;
}

#question1 {
    display: block;
    position: relative;
    margin-left: 35px;
    top: 40px;
    font-size: 30px;
    text-align: left;
    border: 2px solid;
    border-radius: 10px;
}
    */